{% apply spaceless %}
    <!DOCTYPE html>
    <html lang="{% if app.request.locale == 'ru' %}ru_RU{% elseif app.request.locale == 'en' %}en_US{% elseif app.request.locale == 'uk' %}ua_UA{% endif %}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <!-- Stylesheets -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    <!-- JavaScripts -->
    {% block javascripts %}{% endblock %}
    </body>
    </html>
{% endapply %}
